body{
    color: rgb(15, 20, 25);
    display: flex;
}

.navegacao{
    border-right: 2px solid rgb(230, 236, 240);
    padding-right: 10px;
    background-color: rgb(247, 245, 245);
}

.navegacao a{
    color: rgb(15, 20, 25);
    text-decoration: none;
    list-style: none;
    padding: 5px;
    width: 200px;
}

.navegacao a:hover{
    text-decoration: none;
}

.navegacao li{
    color: rgb(15, 20, 25);
    text-decoration: none;
    list-style: none;
    padding: 5px;
    width: 200px;
}

.navegacao li:hover{
    background-color: rgba(15, 25, 20, 0.1);
    border-radius: 15px;
}

.logo{
    margin-top: 20px;
    margin-left: 40px;
    max-width: 25px;
}

.tzeetar{
    border-style: none;
    background-color: rgb(29, 155, 240);
    color: white;
    padding: 10px;
    justify-content: center;
    border-radius: 20px;
    width: 200px;
}

.tzeetar:hover{
    background-color: rgb(26, 135, 207);
}

.profilePhoto{
    width: 100px;
    border-radius: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.editProfile{
    border-style: none;
    background-color: rgb(29, 155, 240);
    color: white;
    justify-content: center;
    border-radius: 20px;
    width: 100px;   
    float: right;
    margin: 20px;
}

.name{
    color: rgb(15, 20, 25);
}

.user{
    color: rgb(83, 100, 113);
}

.infos{
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
}

.infos a{
    text-decoration: none;
    color: rgb(15, 20, 25);
}

.data{
    color: rgb(83, 100, 113);
}

.count{
    color: rgb(15, 20, 25);
    font-weight: bold;
}

.count:hover .estatisticas:hover, a:hover{
    text-decoration: underline;
}

.tweet:hover{
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 10px;
}

.pages{
    background-color: rgb(241, 241, 241);
    justify-content: space-evenly;
    display: flex;
    margin-bottom: 10px;
}

.pages > a{
    min-width: 25%;
    color: rgb(83, 100, 113);
    text-decoration: none;
    text-align: center;
    border-right: 2px solid rgb(189, 199, 206);
}

.pages > a:last-child {
    border-right: none; 
}

.pages a:hover{
    background-color: rgba(15, 25, 20, 0.1);
    text-decoration: none;
}

.profileTweet{
    display: flex;
    align-items: center;
}

.profilePhotoTweet{
    width: 30px;
    height: 30px;
    border-radius: 100%;   
    display: flex;
    margin-right: 10px;
    margin-bottom: 5px;
}

.acoes a{
    color: rgb(83, 100, 113);
    text-decoration: none;
}

.replyshare:hover{
    background-color: rgba(29, 155, 240, 0.1);
    border-radius: 10px;
}

.retzeet:hover{
    background-color: rgba(0, 186, 124, 0.1);
    color: rgba(0, 186, 124, 1);
    border-radius: 10px;
}

.like:hover{
    background-color: rgba(249, 24, 128, 0.1);
    color: rgba(249, 24, 128, 1);
    border-radius: 10px;
}

.dateTweet{
    color: rgb(83, 100, 113);
}

.tweet{
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(252, 252, 252);
}

.recomendados{
    border-left: 2px solid rgb(230, 236, 240);
    width: 60vh;
    padding: 10px;
    background-color: rgb(247, 245, 245)
}

.search{
    background-color: rgb(233, 230, 230);
    min-width: 100%;
    border-radius: 10px;
    padding: 5px;
}

.searchInput{
    background-color: transparent;
    max-width: 90%;
    border-style: none;
}

.searchInput:focus{
    outline: none;
}

.containerRecomendados{
    min-width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(233, 230, 230);
}

.userRecomendado > .profilePhotoRecomendado{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

.users > .userRecomendado{
    display: flex;
    margin-top: 10px;
}

.buttomFollow{
    border-style: none;
    background-color: rgb(29, 155, 240);
    color: white;
    justify-content: center;
    border-radius: 20px;
    margin: 20px;
}

@media (max-width: 768px) {
    .navegacao{
        max-width: 6vh;
        float: left;
        padding-right: 80px;
    }

    .navegacao a{
        display: none;
    }

    .tzeetar{
        display: none;
    }

    .recomendados{
        display: none;
    }
}